body{
    box-sizing: border-box;
    background-color: black;
/* background-image:url('./123.jpg'); */
}
.main{
}
.h1-2{
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
color: white;
}
.div-inp-btn2{
    text-align: center;

}
#lemail{
    width: 300px;
    height: 20px;
    border-block-start: 5px;
border-left-style: none;
border-right-style: none;
border-color: white;
color: white;
background-image:url('./123.jpg');

/* background-color: black; */
}
#lpass{
    width: 300px;
    height: 20px;
    border-block-start: 5px;
border-left-style: none;
border-right-style: none;
border-color:white;
color: white;
background-color: black;
/* background-image:url('./123.jpg'); */

}
#btn2{
    width: 250px;
    height: 30px;
    font-weight:bold    ;
 border: none;
background-color: black;
/* background-image:url('./123.jpg'); */

color: white;

}
#btn2:hover{
    border: 2px solid white;

}