/* #min{ */
/* border: 2px solid black; */
/* } */
body{
   background-color:#042024;
   box-sizing: border-box;
    /* background-image:https://www.shutterstock.com/shutterstock/photos/1364081456/display_1500/stock-vector-book-and-smartphone-in-a-hand-low-poly-wireframe-online-education-blue-background-or-concept-with-1364081456.jpg; */
}
/* 
/* table{
    border:2px solid red;
    border-radius: 20px;
}
td{
    border:2px solid red;
    border-radius: 20px;

    text-align: center;
}
th{
    border:2px solid red;
    border-radius: 20px;

    text-align: center;

} */
.main{
    color:#1baec4 ;
}
.main2{

    /* text-align: center; */
    display: flex;
}
#min{
    margin-left:250px;
    padding: 15px;
border: 3px solid #1baec4;
border-radius: 40px;
color:#1baec4 ;
}
#sec{
    margin-left:100px;
    padding: 15px;
    border: 3px solid #1baec4;
    border-radius: 40px;
    color:#1baec4 ;
    
}
#msec{
    margin-left:80px;
    padding: 15px;
    border: 3px solid #1baec4;
    border-radius: 40px;
    color:#1baec4 ;
    
}
#str{
    margin-left:350px;
    padding: 15px;
border: 3px solid #1baec4;
border-radius: 40px;
/* color:#1baec4 ; */
background-color: #1baec4 ;
color:black ;
font-weight: 800;
}
#sto{
    padding: 15px;
border: 3px solid #1baec4;
border-radius: 40px;
/* color:#1baec4 ; */
background-color: #1baec4 ;
color:black ;
font-weight: 800;
}
#res{
    padding: 15px;
border: 3px solid #1baec4;
border-radius: 40px;
background-color: #1baec4 ;
color:black ;
font-weight: 800;

}




@media (max-width:500px){
.stp{
    text-align: center;
}
} 